

header{
    font-size: 50px;
    text-align: center;
    background-color: rgb(251, 253, 255);
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: auto;
    
}
